@model IEnumerable<BSOS.Models.Comment>
@using BSOS.Models;
@{
    ViewData["Title"] = "Index";
    if (Customer.IsManager)
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    else
        Layout = "_Layout";
}

<br />
<br />
<br />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Search" class="form-inline">
    <div class="form-group">
        <label class="control-label mr-2">Enter the name of the author of the message</label>
        <input Name="sentBy" class="form-control mr-2" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
