@model IEnumerable<BSOS.Models.Comment>
@using BSOS.Models;
@{
    ViewData["Title"] = "Index";
    if (Customer.IsManager)
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    else
        Layout = "_Layout";
}



<head>
    <title>All the Comments</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/DesignShop/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/DesignShop/css/main.css">
    <!--===============================================================================================-->
</head>
<br />
<br />
<br />
<br />
<br />
<h1>All the Comments</h1>
<section class="stext-117 cl6 p-b-26">
    <br />
    <form asp-controller="Comments" asp-action="Search">
        <div class="col-md-4 col-lg-3 p-b-80">
            <div class="side-menu">
                <label class="control-label mr-2">Enter the first name of the client that wrote the comment you are looking </label>
                <div class="bor17 of-hidden pos-relative">
                    <input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="sentBy" placeholder="Search">

                    <button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IP)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SentBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IP)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
