@model BSOS.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.Country)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Customer.PhoneNumber)
            </td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrders.First().Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrders.First().Product.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOrders.First().Product.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductOrders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
