@model IEnumerable<BSOS.Models.Customer>
@using BSOS.Models;
@{
    ViewData["Title"] = "CountOrders";
    if (Customer.IsManager)
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    else
        Layout = "_Layout";
}
<head>
    <title>Details</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/DesignShop/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/DesignShop/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/DesignShop/css/main.css">
    <!--===============================================================================================-->

</head>
<br />
<br />
<br />
<br />
<br />

<h3 class="ltext-109 cl2 p-b-28">
    How many orders did each customer order?
</h3>

<section class="stext-117 cl6 p-b-26">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    Number Of Orders
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Orders.Count()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
